# Env
.env
.env.local

# Go - binaries & build
pemrograman-code
pemrograman-code.exe
*.exe
*.out
*.test
/bin/
/dist/
/tmp/

# Go - dependencies & cache
vendor/

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
logs/
!logs/.gitkeep
.opencode/
soal.txt
example.txt
curl-ex.txt